################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BDataGrid.Semantic.UI/bin/Debug
/BDataGrid.Semantic.UI/obj
/BDataGrid.Semantic.UI.Example/bin/Debug/netcoreapp3.1
/BDataGrid.Semantic.UI.Example/obj
