

.ui.table .selectedCell {
    /*border: 2px solid black !important;*/
    outline: 2px solid black;
    z-index: 99;
}

.excelIconContainer {
    padding-top: 9px !important;
    padding-bottom: 10px !important;
}
