
.ui.table {
    border-collapse: separate !important;
}

    .ui.table .selectedCell {
        border: 2px solid black !important;
    }


.ui.table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

    .ui.table thead,
    .ui.table tfoot {
        /* head takes the height it requires, 
    and it's not scaled when table is resized */
        flex: 0 0 auto;
        width: 100%;
    }

    .ui.table tbody {
        /* body takes all the remaining available space */
        flex: 1 1 auto;
        display: block;
        overflow-y: auto;
    }

        .ui.table tbody tr,
        .ui.table tfoot tr {
            width: 100%;
        }

        .ui.table thead,
        .ui.table tbody tr,
        .ui.table tfoot tr {
            display: table;
            table-layout: fixed;
        }
